<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL4S-PoexyPR18WemuJ238mPG8NPP2DYw</string>
	<key>GCM_SENDER_ID</key>
	<string>281780973054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginRegisterUi</string>
	<key>PROJECT_ID</key>
	<string>mysmart-a4f78</string>
	<key>STORAGE_BUCKET</key>
	<string>mysmart-a4f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281780973054:ios:40c4f2bc0bef0793f3a4af</string>
</dict>
</plist>